<div class="m-widget5__item">
    <div class="row">
        <div class="col-sm-3">
            <img class="img-thumbnail" src="assets/app/media/img/products/product1.jpg" alt="">
        </div>
        <div class="col-sm col-9">
            <h5>
                <a class="m-link m--font-bolder" href="#">
                    {{salon.title}}
                </a>
            </h5>
            <p>
                {{getSalonAddress()}}
                <br>
                Сеть: {{chainTitle}}
            </p>
        </div>
        <div class="col-sm col-3 m--align-right">
            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modalDialog" (click)="editSalon()">
                <i class="la la-edit"></i>
            </button>
        </div>
    </div>
</div>