<!--<div class="m-grid__item m-grid__item&#45;&#45;fluid m-grid m-grid&#45;&#45;ver-desktop m-grid&#45;&#45;desktop m-grid&#45;&#45;tablet-and-mobile m-grid&#45;&#45;hor-tablet-and-mobile m-login m-login&#45;&#45;1 m-login&#45;&#45;singin" id="m_login">-->
	<!--<div class="m-grid__item m-grid__item&#45;&#45;order-tablet-and-mobile-2 m-login__aside">-->
		<!--<div class="m-stack m-stack&#45;&#45;hor m-stack&#45;&#45;desktop">-->
			<!--<div class="m-stack__item m-stack__item&#45;&#45;fluid">-->
				<!--<div class="m-login__wrapper">-->
					<!--<div class="m-login__logo">-->
						<!--<a href="#">-->
							<!--<img src="./assets/app/media/img//logos/logo-2.png">-->
						<!--</a>-->
					<!--</div>-->

					<!--<router-outlet></router-outlet>-->

				<!--</div>-->
			<!--</div>-->

		<!--</div>-->
	<!--</div>-->

	<!--<div class="m-grid__item m-grid__item&#45;&#45;fluid m-grid m-grid&#45;&#45;center m-grid&#45;&#45;hor m-grid__item&#45;&#45;order-tablet-and-mobile-1	m-login__content" style="background-image: url(./assets/app/media/img//bg/bg-4.jpg)">-->
		<!--<div class="m-grid__item m-grid__item&#45;&#45;middle">-->
			<!--<h3 class="m-login__welcome">-->
				<!--Join Our Community-->
			<!--</h3>-->
			<!--<p class="m-login__msg">-->
				<!--Lorem ipsum dolor sit amet, coectetuer adipiscing-->
				<!--<br>-->
				<!--elit sed diam nonummy et nibh euismod-->
			<!--</p>-->
		<!--</div>-->
	<!--</div>-->
<!--</div>-->
