<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">
        {{title}}
    </h5>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
                <span aria-hidden="true">
                    ×
                </span>
    </button>
</div>

<div class="alert alert-danger" role="alert" *ngIf="error">
    {{error | json}}
</div>

<form class="m-form m-form--fit" (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="modal-body">
        <nav class="nav nav-tabs" role="tablist">
            <a class="nav-item nav-link active" data-toggle="tab" href="#nav-data" role="tab">Данные</a>
            <a class="nav-item nav-link" data-toggle="tab" href="#nav-settings" role="tab">Настройки</a>
        </nav>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="nav-data" role="tabpanel">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Название</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="salon-title"
                                       placeholder="Введите название"
                                       [(ngModel)]="data.title" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Сеть</label>
                            <div class="col-sm-9">
                                <dx-select-box
                                        class="form-control"
                                        [(value)]="data.chain_id"
                                        valueExpr="id"
                                        displayExpr="title"
                                        [dataSource]="chainsDataSource$ | async"
                                ></dx-select-box>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Фотография</label>
                            <div class="col-sm-9">
                                <div class="card">
                                    <img class="card-img-top" src="{{imageSrc}}"
                                         alt="Card image cap">
                                    <div class="card-body">
                                        <dx-file-uploader
                                                [multiple]="false"
                                                (onValueChanged)="onFileChange($event)"
                                                accept="image/*"
                                                uploadMode="useForm"
                                                selectButtonText="Выберите изображение"
                                        ></dx-file-uploader>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <fieldset>
                            <legend>Местоположение</legend>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Страна</label>
                                <div class="col-sm-9">
                                    <dx-autocomplete
                                            class="form-control m-bootstrap-select m_selectpicker"
                                            [dataSource]="countryNames"
                                            [(value)]="data.country"
                                            valueExpr="this"
                                            (onValueChanged)="loadCities(null)"
                                            placeholder="Выберите страну"
                                            required>
                                    </dx-autocomplete>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Город</label>
                                <div class="col-sm-9">
                                    <dx-autocomplete
                                            class="form-control m-bootstrap-select m_selectpicker"
                                            [dataSource]="cities"
                                            [(value)]="data.city"
                                            valueExpr="this"
                                            (onKeyUp)="loadCities($event.event.srcElement.value)"
                                            (onValueChanged)="cityValueChanged($event)"
                                            placeholder="Введите город"
                                            required>
                                    </dx-autocomplete>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Адрес</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input type="text" name="address"
                                               class="form-control m-bootstrap-select m_selectpicker"
                                               [(ngModel)]="data.address"
                                               placeholder="Введите адрес"
                                               required>
                                        <span class="input-group-btn">
                                <button class="btn btn-primary" type="button" (click)="searchAddress()">
                                    <i class="la la-search"></i>
                                </button>
                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <agm-map #map
                                         [latitude]="+data.latitude"
                                         [longitude]="+data.longitude"
                                         [scrollwheel]="false"
                                         [zoom]="zoom">
                                    <agm-marker
                                            [(latitude)]="data.latitude"
                                            [(longitude)]="data.longitude"
                                            (dragEnd)="onMarkerDragEnd($event.coords)"
                                            [markerDraggable]="true">
                                    </agm-marker>
                                </agm-map>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-settings" role="tabpanel">
                <div class="row">
                    <div class="col-lg-6">
                        <fieldset>
                            <legend>Режим работы</legend>

                            <app-salon-schedule-day
                                    *ngFor="let daySchedule of data.schedule"
                                    [daySchedule]="daySchedule"
                            ></app-salon-schedule-day>
                        </fieldset>
                    </div>
                    <div class="col-lg-6">
                        <fieldset>
                            <legend>Напоминания о записях по&nbsp;умолчанию</legend>
                            <div class="form-group">
                                <div>
                                    <dx-tag-box
                                            class="notification-type"
                                            [dataSource]="notificationTypes"
                                            displayExpr="title"
                                            valueExpr="key"
                                            applyValueMode="useButtons"
                                            [showSelectionControls]="true"
                                            [value]="data.notify_about_appointments"
                                            (onValueChanged)="notificationChanged($event)"
                                    ></dx-tag-box>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-auto">
                        <button class="btn btn-success" type="submit">
                            {{submitButtonText}}
                        </button>
                        <button type="button" class="btn btn-secondary" (click)="onClose()">
                            Закрыть
                        </button>
                    </div>
                    <div class="col-auto ml-auto">
                        <button class="btn btn-danger-outline delete-salon-button" type="button"
                                *ngIf="canDeleteSalon"
                                (click)="onDelete()">
                            <span class="m--hidden-mobile">Удалить</span>
                            <span class="m--visible-mobile">
                            <i class="la la-trash"></i>
                        </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>