app-salon-edit-form {
  overflow: hidden;
  margin-bottom: 60px;
  flex: 1;
}
.margin-auto {
  margin: auto;
}

agm-map {
  height: 300px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.back-to-all-salons {
  margin-top: 18px;
}

.title-div-width {
  width: 100%;
}

.title-div-width h3 {
  width: 100%;
  text-align: center;
}
.notification-type {
  width: 100%;
}