<div class="m-login--choose-chain">
    <div class="m-login__head">
        <h3 class="m-login__title">Выбор сети</h3>
        <div class="m-login__desc">Выберете сеть для входа</div>
    </div>
    <div class="m-login__form m-form">
        <div class="form-group" *ngFor="let userChain of userChains" >
            <button class="btn btn-primary btn-block" (click)="selectUserChain(userChain.id)">{{userChain.title}}</button>
        </div>
        <div class="m-login__form-action">
            <a href="javascript:;" class="m-link" routerLink="/auth/password">Назад</a>
        </div>
    </div>
</div>
