<div class="m-login__reset-password" >
    <div class="m-login__head">
        <h3 class="m-login__title">Восстановление пароля</h3>
        <div class="m-login__desc" *ngIf="showRecoveryCode">Код для восстановления пароля выслан по sms</div>
    </div>
    <form (ngSubmit)="f.form.valid() && resetPassword()" class="m-login__form m-form" #f="ngForm">
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Введите код" name="token" *ngIf="showRecoveryCode" required>
        </div>
        <div class="form-group">
            <label>Новый пароль</label>
            <input class="form-control" type="text" placeholder="Введите новый пароль" [(ngModel)]="recoveryData.password" name="password" required>
        </div>
        <div class="form-group">
            <label>Подтверждение пароля</label>
            <input class="form-control" type="text" placeholder="Введите пароль еще раз" [(ngModel)]="recoveryData.confirm_password" name="confirm_password" required>
        </div>
        <div class="m-login__form-action">
            <button type="submit" class="btn btn-primary ml-auto">Установить новый пароль</button>
        </div>
        <div class="m-login__form-action">
            <!--TODO: timer-->
            <a href="javascript:;" (click)="resendCode()" class="m-link">Прислать код еще раз</a>
        </div>
    </form>
</div>