<div class="m-content">
    <div class="row">
        <div class="col-xl-8">
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text m--hidden-tablet-and-mobile">
                                Услуги
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <!--begin: Dropdown-->
                        <div class="m-dropdown m-dropdown--lg m-dropdown--inline m-dropdown--arrow m-dropdown--align-right"
                             data-dropdown-toggle="click">
                            <a href="#" class="m-dropdown__toggle btn btn-primary">
                                Добавить
                            </a>
                            <div class="m-dropdown__wrapper">
                                <span class="m-dropdown__arrow m-dropdown__arrow--right"></span>
                                <div class="m-dropdown__inner">
                                    <div class="m-dropdown__body">
                                        <div class="m-dropdown__content">
                                            <ul class="m-nav">
                                                <li class="m-nav__item">
                                                    <a href="javascript:;" class="m-nav__link" (click)="openCreateCategoryForm()">
                                                      <span class="m-nav__link-text">
                                                        Категорию
                                                      </span>
                                                    </a>
                                                </li>
                                                <li class="m-nav__item">
                                                    <a href="javascript:;" class="m-nav__link" (click)="openCreateServiceForm()">
                                                        <span class="m-nav__link-text">
                                                          Услугу
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end: Dropdown-->
                    </div>
                </div>
                <div class="m-portlet__body">
                    <app-filter-by-chain></app-filter-by-chain>

                    <!--begin: Services-->
                    <div class="services">
                        <dx-tree-view
                                [items]="categories$ | async"
                                [displayExpr]="'title'"
                                [searchEnabled]="true"
                                [searchMode]="contains"

                        ></dx-tree-view>

                        <!--<div class="item" *ngFor="let category of categories$ | async">-->
                            <!--{{ category.title }}-->
                        <!--</div>-->

                    </div>
                    <!--end: Services-->
                    <div class="note mt-3">
                        <i class="la la-info-circle"></i>
                        <span>Категории и услуги можно перетаскивать для изменения последовательности и вложенности.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>