<div class="m-content">
    <div class="row">
        <div class="col-xl-8">
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text m--hidden-tablet-and-mobile">
                                Должности
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <button type="button" class="btn btn-primary" (click)="openCreateForm()">
                            Добавить
                        </button>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="m-widget5">
                        <app-position-row
                                *ngFor="let position of entities$ | async"
                                [employeePosition]="position"
                                (editPositionRequested)="openEditForm(position)"
                        ></app-position-row>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>