:host(app-employee-position) {
    overflow: hidden;
    margin-bottom: 60px;
    flex: 1;
}

.margin_auto {
    margin: auto;
}

.modalButton {
    float: right;
    margin: 15px 0;
}

.custom_div_width {
    width: 100%;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}