<!-- BEGIN: Subheader -->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Запись-форма
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Записи
						</span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Запись-форма
						</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <!--begin::Portlet-->
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Input Mask Examples
                    </h3>
                </div>
            </div>
        </div>
        <!--begin::Form-->
        <form class="m-form m-form--fit m-form--label-align-right">
            <div class="m-portlet__body">
                <!-- Phone number -->
                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        Телефон
                    </label>
                    <div class="col-lg-4 col-md-9 col-sm-12">
                        <input type='text' class="form-control" id="m_inputmask_3">
                        <span class="m-form__help">
					Phone number mask:
					<code>
					(999) 999-9999
				</code>
			</span>
                    </div>
                </div>
                <!-- Name -->
                <div class="form-group m-form__group row">
                    <label for="example-text-input" class="col-form-label col-lg-3 col-sm-12">
                        Имя клиента
                    </label>
                    <div class="col-lg-4 col-md-9 col-sm-12">
                        <input class="form-control m-input" type="text"  id="example-text-input" placeholder="Иван">
                    </div>
                </div>
                <!-- Services -->
                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        Услуги:
                    </label>
                    <div class="col-lg-6 col-md-9 col-sm-12">
                        <select class="form-control m-bootstrap-select m-bootstrap-select--square m_selectpicker" title="Square style">
                            <option>
                                Mustard
                            </option>
                            <option>
                                Ketchup
                            </option>
                            <option>
                                Relish
                            </option>
                        </select>
                    </div>
                </div>
                <!-- Service -->
                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        Input Styes
                    </label>
                    <div class="col-lg-6 col-md-9 col-sm-12">
                        <select class="form-control m-bootstrap-select m-bootstrap-select--square m_selectpicker" title="Square style">
                            <option>
                                Mustard
                            </option>
                            <option>
                                Ketchup
                            </option>
                            <option>
                                Relish
                            </option>
                        </select>
                    </div>
                </div>
                <!-- Employee -->
                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        Сотрудник
                    </label>
                    <div class="col-lg-4 col-md-9 col-sm-12">
                        <select class="form-control m-bootstrap-select m-bootstrap-select--pill m_selectpicker" title="Pill style">
                            <option>
                                Mustard
                            </option>
                            <option>
                                Ketchup
                            </option>
                            <option>
                                Relish
                            </option>
                        </select>
                        <div class="m--space-10"></div>
                    </div>
                </div>
                <!-- Date, time -->
                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        Дата, время
                    </label>
                    <div class="col-lg-4 col-md-9 col-sm-12">
                        <div class='input-group date' id='m_datepicker_3'>
                            <input type='text' class="form-control m-input" readonly value="05/20/2017"/>
                            <span class="input-group-addon">
								<i class="la la-calendar"></i>
							</span>
                        </div>
                        <input type='text' class="form-control" id="m_timepicker_1" readonly placeholder="Select time" style="width: 100px">
                        <span class="m-form__help">
							Enable clear and today helper buttons
						</span>
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
                <div class="m-form__actions m-form__actions">
                    <div class="row">
                        <div class="col-lg-9 ml-lg-auto">
                            <button type="reset" class="btn btn-brand">
                                Submit
                            </button>
                            <button type="reset" class="btn btn-secondary">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!--end::Form-->
    </div>
    <!--end::Portlet-->
</div>