<div class="m-widget5__item">
    <div class="row">
        <div class="col-sm col-9">
            <h5>
                <a class="m-link m--font-bolder" href="#">
                    {{employeePosition.title}}
                </a>
            </h5>
            <p>
                {{employeePosition.description}}
            </p>
        </div>
        <div class="col-sm col-3 m--align-right">
            <button type="button" class="btn btn-success btn-sm" (click)="editPosition(chain)">
                <i class="la la-edit"></i>
            </button>
        </div>
    </div>
</div>