:host(app-create-salon) {
    margin-bottom: 60px;
    margin-top: 30px;
    flex: 1;
}

.divCenter {
    margin: auto;
}

.button_center {
    text-align: center;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

.gotCities {
    background: #fff;
    -webkit-box-shadow: 0 0 15px 1px rgba(113,106,202,.2);
    -moz-box-shadow: 0 0 15px 1px rgba(113,106,202,.2);
    box-shadow: 0 0 15px 1px rgba(113,106,202,.2);
    border-radius: 4px;
}

.gotCities ul {
    list-style-type: none;
    padding-left: 0;
}

.gotCities ul li {
    margin: 2px 5px;
    padding: 3px 4px;
    cursor: pointer;
}

.gotCities ul li:hover {
    background-color: #F9F9F9;
}