<div class="m-content">
    <!--begin::Portlet-->

    <div class="col-md-6 divCenter">
        <div class="m-portlet m-portlet--tab">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
						<span class="m-portlet__head-icon m--hide">
							<i class="la la-gear"></i>
						</span>
                        <h3 class="m-portlet__head-text">
                            Создайте свой первый салон
                        </h3>
                    </div>
                </div>
            </div>

            <form class="m-form m-form--fit m-form--label-align-right" (ngSubmit)="onSubmit(f)" #f="ngForm">
                <ng-template #alertSalon></ng-template>
                <div class="m-portlet__body">
                    <!-- Salon name -->
                    <div class="form-group m-form__group">
                        <label>
                            Название компании
                        </label>
                        <input
                                class="form-control m-input m-input--air"
                                placeholder="Название"
                                type="text"
                                ngModel
                                name="title"
                                required
                        >
                    </div>
                    <!-- Country -->
                    <div class="form-group m-form__group">
                        <label>
                            Страна
                        </label>
                        <select
                                class="form-control m-input m-input--air"
                                #selectCity
                                (change)="getCountry(selectCity.value, $event)"
                                ngModel
                                name="countryName"
                                required>
                            <option value="">- Выбирайте страну -</option>
                            <option *ngFor="let country of countries" [value]="country.id">
                                {{country.title}}
                            </option>
                        </select>
                    </div>
                    <!-- City -->
                    <div class="form-group m-form__group">
                        <label>
                            Город
                        </label>
                        <input
                                [value]="selectedCity"
                                id="getCityFocus"
                                class="form-control m-input m-input--air"
                                placeholder="Город"
                                type="text"
                                #textCity
                                (keyup)="getCities(textCity.value)"
                                name="cityName"
                                (blur)="onBlur()"
                                (focus)="onFocus()"
                        >
                        <div class="gotCities">
                            <ul>
                                <li *ngFor="let city of cities" (click)="citySelected(city)">{{city.title}}</li>
                            </ul>
                        </div>

                       <!-- <input
                                [value]="selectedCity"
                                id="getCityFocus"
                                class="form-control m-input m-input&#45;&#45;air"
                                placeholder="Город"
                                type="text"
                                #textCity
                                (keyup)="getCities(textCity.value)"
                                name="cityName"
                                input list="cityName"
                        >
                        <datalist id="cityName">
                            <option *ngFor="let city of cities" [value]="city.title">
                        </datalist>-->
                    </div>
                    <!-- Address -->
                    <div class="form-group m-form__group">
                        <label>
                            Адрес
                        </label>
                        <input
                                aria-describedby="emailHelp"
                                class="form-control m-input m-input--air"
                                placeholder="Адрес"
                                type="text"
                                ngModel
                                name="addressName"
                                required>
                    </div>
                    <!-- Current time -->
                    <!--<div class="form-group m-form__group row">
                        <label class="col-form-label col-lg-3 col-sm-12">
                            Текущее время
                        </label>
                        <div class="col-lg-4 col-md-9 col-sm-12">
                            <div class='input-group date' id='m_datetimepicker_3'>
                                <input type='text' class="form-control m-input" readonly value="1899-11-29 00:30"/>
                                <span class="input-group-addon">
								<i class="la la-calendar glyphicon-th"></i>
							</span>
                            </div>
                            <span class="m-form__help">
							Enable clear and today helper buttons
						</span>
                        </div>
                    </div>-->
                </div>
                <div class="m-portlet__foot m-portlet__foot--fit button_center">
                    <div class="m-form__actions">
                        <button
                                class="btn btn-accent"
                                type="submit"
                                [disabled]="!f.valid">
                            Приступить к работе
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>


