<!-- BEGIN: Subheader -->
<!--<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title">
                Сети салонов
            </h3>
        </div>
    </div>
</div>-->
<!-- END: Subheader -->


<div class="m-content">
    <div class="row">
        <div class="col-xl-10 margin-auto">
            <div class="m-portlet m-portlet--full-height">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Сети салонов
                            </h3>
                        </div>
                    </div>
                    <button class="btn btn-brand add-chain-button" type="button" (click)="redirectToCreateChain()">
                        Добавить сеть
                    </button>
                </div>
                <div class="m-portlet__body">

                    <div class="tab-content">
                        <div aria-expanded="true" class="tab-pane active" id="m_widget5_tab1_content">

                            <div class="m-widget5">
                                <app-chain-row
                                        *ngFor="let chain of chains"
                                        [chain]="chain"
                                >
                                </app-chain-row>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
