<!-- BEGIN: Left Aside -->
<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark" appunwraptag="">
    <!-- BEGIN: Aside Menu -->
    <div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark"
         data-menu-vertical="true" data-menu-scrollable="false" data-menu-dropdown-timeout="500">
        <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow">
            <li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
                aria-haspopup="true">
                <a routerLink="/index" class="m-menu__link">
                    <i class="m-menu__link-icon flaticon-line-graph"></i>
                    <span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">
								Dashboard
							</span>
							<span class="m-menu__link-badge">
								<span class="m-badge m-badge--danger">
									2
								</span>
							</span>
						</span>
					</span>
                </a>
            </li>


            <!-- Components -->
            <li class="m-menu__section">
                <h4 class="m-menu__section-text">
                    Components
                </h4>
                <i class="m-menu__section-icon flaticon-more-v3"></i>
            </li>
            <!-- Records -->
            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover">
                <a href="#" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-layers"></i>
                    <span class="m-menu__link-text">
						Записи
					</span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu">
                    <span class="m-menu__arrow"></span>
                    <ul class="m-menu__subnav">
                        <li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active"
                            routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                            <a href="#" class="m-menu__link">
								<span class="m-menu__link-text">
									Записи
								</span>
                            </a>
                        </li>

                        <li class="m-menu__item" routerLinkActive="m-menu__item--active"
                            routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                            <a routerLink="/components/records/record-view-table" class="m-menu__link">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
									Записи. вид таблицей
								</span>
                            </a>
                        </li>
                        <li class="m-menu__item" routerLinkActive="m-menu__item--active"
                            routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                            <a routerLink="/components/records/record-form" class="m-menu__link">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
									Запись-форма
								</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </li>
            <!-- Accounts -->
            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover">
                <a href="#" class="m-menu__link m-menu__toggle" routerLink="/components/accounts">
                    <i class="m-menu__link-icon flaticon-share"></i>
                    <span class="m-menu__link-text">
						Счета
					</span>
                </a>
            </li>
            <!-- Customers -->
            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover">
                <a href="#" class="m-menu__link m-menu__toggle" routerLink="/components/customers">
                    <i class="m-menu__link-icon flaticon-multimedia-1"></i>
                    <span class="m-menu__link-text">
						Клиенты
					</span>
                </a>
            </li>
            <!-- Schedule -->
            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover">
                <a href="#" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-interface-7"></i>
                    <span class="m-menu__link-text">
						Расписание
					</span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu">
                    <span class="m-menu__arrow"></span>
                    <ul class="m-menu__subnav">
                        <li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active"
                            routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                            <a href="#" class="m-menu__link">
								<span class="m-menu__link-text">
									Расписание
								</span>
                            </a>
                        </li>
                        <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"
                            data-menu-submenu-toggle="hover">
                            <a href="#" class="m-menu__link m-menu__toggle"
                               routerLink="/components/schedule/main-schedule">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
                                     Расписание
                                 </span>
                            </a>
                        </li>
                        <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"
                            data-menu-submenu-toggle="hover">
                            <a href="#" class="m-menu__link m-menu__toggle"
                               routerLink="/components/schedule/form-editing">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
									Форма редактирования дня
								</span>
                                <!--<i class="m-menu__ver-arrow la la-angle-right"></i>-->
                            </a>
                            <!--<div class="m-menu__submenu">
                                <span class="m-menu__arrow"></span>
                                <ul class="m-menu__subnav">
                                    <li class="m-menu__item" routerLinkActive="m-menu__item&#45;&#45;active"
                                        routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                                        <a routerLink="/components/forms/widgets/bootstrap-datepicker"
                                           class="m-menu__link">
                                            <i class="m-menu__link-bullet m-menu__link-bullet&#45;&#45;dot">
                                                <span></span>
                                            </i>
                                            <span class="m-menu__link-text">
												Datepicker
											</span>
                                        </a>
                                    </li>
                                    <li class="m-menu__item" routerLinkActive="m-menu__item&#45;&#45;active"
                                        routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                                        <a routerLink="/components/forms/widgets/bootstrap-datetimepicker"
                                           class="m-menu__link">
                                            <i class="m-menu__link-bullet m-menu__link-bullet&#45;&#45;dot">
                                                <span></span>
                                            </i>
                                            <span class="m-menu__link-text">
												Datetimepicker
											</span>
                                        </a>
                                    </li>
                                    <li class="m-menu__item" routerLinkActive="m-menu__item&#45;&#45;active"
                                        routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                                        <a routerLink="/components/forms/widgets/bootstrap-timepicker"
                                           class="m-menu__link">
                                            <i class="m-menu__link-bullet m-menu__link-bullet&#45;&#45;dot">
                                                <span></span>
                                            </i>
                                            <span class="m-menu__link-text">
												Timepicker
											</span>
                                        </a>
                                    </li>
                                    <li class="m-menu__item" routerLinkActive="m-menu__item&#45;&#45;active"
                                        routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                                        <a routerLink="/components/forms/widgets/bootstrap-daterangepicker"
                                           class="m-menu__link">
                                            <i class="m-menu__link-bullet m-menu__link-bullet&#45;&#45;dot">
                                                <span></span>
                                            </i>
                                            <span class="m-menu__link-text">
												Daterangepicker
											</span>
                                        </a>
                                    </li>
                                    <li class="m-menu__item" routerLinkActive="m-menu__item&#45;&#45;active"
                                        routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                                        <a routerLink="/components/forms/widgets/bootstrap-touchspin"
                                           class="m-menu__link">
                                            <i class="m-menu__link-bullet m-menu__link-bullet&#45;&#45;dot">
                                                <span></span>
                                            </i>
                                            <span class="m-menu__link-text">
												Touchspin
											</span>
                                        </a>
                                    </li>
                                    <li class="m-menu__item" routerLinkActive="m-menu__item&#45;&#45;active"
                                        routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                                        <a routerLink="/components/forms/widgets/bootstrap-maxlength"
                                           class="m-menu__link">
                                            <i class="m-menu__link-bullet m-menu__link-bullet&#45;&#45;dot">
                                                <span></span>
                                            </i>
                                            <span class="m-menu__link-text">
												Maxlength
											</span>
                                        </a>
                                    </li>
                                    <li class="m-menu__item" routerLinkActive="m-menu__item&#45;&#45;active"
                                        routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                                        <a routerLink="/components/forms/widgets/bootstrap-switch" class="m-menu__link">
                                            <i class="m-menu__link-bullet m-menu__link-bullet&#45;&#45;dot">
                                                <span></span>
                                            </i>
                                            <span class="m-menu__link-text">
												Switch
											</span>
                                        </a>
                                    </li>
                                    <li class="m-menu__item" routerLinkActive="m-menu__item&#45;&#45;active"
                                        routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                                        <a routerLink="/components/forms/widgets/bootstrap-selectsplitter"
                                           class="m-menu__link">
                                            <i class="m-menu__link-bullet m-menu__link-bullet&#45;&#45;dot">
                                                <span></span>
                                            </i>
                                            <span class="m-menu__link-text">
												Selectsplitter
											</span>
                                        </a>
                                    </li>
                                    <li class="m-menu__item" routerLinkActive="m-menu__item&#45;&#45;active"
                                        routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                                        <a routerLink="/components/forms/widgets/bootstrap-select" class="m-menu__link">
                                            <i class="m-menu__link-bullet m-menu__link-bullet&#45;&#45;dot">
                                                <span></span>
                                            </i>
                                            <span class="m-menu__link-text">
												Bootstrap Select
											</span>
                                        </a>
                                    </li>
                                    <li class="m-menu__item" routerLinkActive="m-menu__item&#45;&#45;active"
                                        routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                                        <a routerLink="/components/forms/widgets/select2" class="m-menu__link">
                                            <i class="m-menu__link-bullet m-menu__link-bullet&#45;&#45;dot">
                                                <span></span>
                                            </i>
                                            <span class="m-menu__link-text">
												Select2
											</span>
                                        </a>
                                    </li>
                                    <li class="m-menu__item" routerLinkActive="m-menu__item&#45;&#45;active"
                                        routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                                        <a routerLink="/components/forms/widgets/typeahead" class="m-menu__link">
                                            <i class="m-menu__link-bullet m-menu__link-bullet&#45;&#45;dot">
                                                <span></span>
                                            </i>
                                            <span class="m-menu__link-text">
												Typeahead
											</span>
                                        </a>
                                    </li>
                                    <li class="m-menu__item" routerLinkActive="m-menu__item&#45;&#45;active"
                                        routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                                        <a routerLink="/components/forms/widgets/ion-range-slider" class="m-menu__link">
                                            <i class="m-menu__link-bullet m-menu__link-bullet&#45;&#45;dot">
                                                <span></span>
                                            </i>
                                            <span class="m-menu__link-text">
												Ion Range Slider
											</span>
                                        </a>
                                    </li>
                                    <li class="m-menu__item" routerLinkActive="m-menu__item&#45;&#45;active"
                                        routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                                        <a routerLink="/components/forms/widgets/input-mask" class="m-menu__link">
                                            <i class="m-menu__link-bullet m-menu__link-bullet&#45;&#45;dot">
                                                <span></span>
                                            </i>
                                            <span class="m-menu__link-text">
												Input Masks
											</span>
                                        </a>
                                    </li>
                                    <li class="m-menu__item" routerLinkActive="m-menu__item&#45;&#45;active"
                                        routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                                        <a routerLink="/components/forms/widgets/summernote" class="m-menu__link">
                                            <i class="m-menu__link-bullet m-menu__link-bullet&#45;&#45;dot">
                                                <span></span>
                                            </i>
                                            <span class="m-menu__link-text">
												Summernote WYSIWYG
											</span>
                                        </a>
                                    </li>
                                    <li class="m-menu__item" routerLinkActive="m-menu__item&#45;&#45;active"
                                        routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                                        <a routerLink="/components/forms/widgets/bootstrap-markdown"
                                           class="m-menu__link">
                                            <i class="m-menu__link-bullet m-menu__link-bullet&#45;&#45;dot">
                                                <span></span>
                                            </i>
                                            <span class="m-menu__link-text">
												Markdown Editor
											</span>
                                        </a>
                                    </li>
                                    <li class="m-menu__item" routerLinkActive="m-menu__item&#45;&#45;active"
                                        routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                                        <a routerLink="/components/forms/widgets/autosize" class="m-menu__link">
                                            <i class="m-menu__link-bullet m-menu__link-bullet&#45;&#45;dot">
                                                <span></span>
                                            </i>
                                            <span class="m-menu__link-text">
												Autosize
											</span>
                                        </a>
                                    </li>
                                    <li class="m-menu__item" routerLinkActive="m-menu__item&#45;&#45;active"
                                        routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                                        <a routerLink="/components/forms/widgets/clipboard" class="m-menu__link">
                                            <i class="m-menu__link-bullet m-menu__link-bullet&#45;&#45;dot">
                                                <span></span>
                                            </i>
                                            <span class="m-menu__link-text">
												Clipboard
											</span>
                                        </a>
                                    </li>
                                    <li class="m-menu__item" routerLinkActive="m-menu__item&#45;&#45;active"
                                        routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                                        <a routerLink="/components/forms/widgets/dropzone" class="m-menu__link">
                                            <i class="m-menu__link-bullet m-menu__link-bullet&#45;&#45;dot">
                                                <span></span>
                                            </i>
                                            <span class="m-menu__link-text">
												Dropzone
											</span>
                                        </a>
                                    </li>
                                    <li class="m-menu__item" routerLinkActive="m-menu__item&#45;&#45;active"
                                        routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                                        <a routerLink="/components/forms/widgets/recaptcha" class="m-menu__link">
                                            <i class="m-menu__link-bullet m-menu__link-bullet&#45;&#45;dot">
                                                <span></span>
                                            </i>
                                            <span class="m-menu__link-text">
												Google reCaptcha
											</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>-->
                        </li>
                        <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"
                            data-menu-submenu-toggle="hover">
                            <a href="#" class="m-menu__link m-menu__toggle"
                               routerLink="/components/schedule/autocomplete-form">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
									Автозаполнение, форма
								</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <!-- Employees -->
            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover">
                <a href="#" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-tabs"></i>
                    <span class="m-menu__link-text">
						Сотрудники
					</span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu">
                    <span class="m-menu__arrow"></span>
                    <ul class="m-menu__subnav">
                        <li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active"
                            routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                            <a href="#" class="m-menu__link">
								<span class="m-menu__link-text">
									Сотрудники
								</span>
                            </a>
                        </li>
                        <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"
                            data-menu-submenu-toggle="hover">
                            <a href="#" class="m-menu__link m-menu__toggle"
                               routerLink="/components/employees/employees-main">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
                                     Сотрудники
                                 </span>
                            </a>
                        </li>
                        <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"
                            data-menu-submenu-toggle="hover">
                            <a href="#" class="m-menu__link m-menu__toggle"
                               routerLink="/components/employees/employee">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
									Сотрудник
								</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <!-- Services -->
            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover">
                <a href="#" class="m-menu__link m-menu__toggle" routerLink="/components/services">
                    <i class="m-menu__link-icon flaticon-interface-1"></i>
                    <span class="m-menu__link-text">
						Услуги
					</span>
                </a>
            </li>
            <!-- Products -->
            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover">
                <a href="#" class="m-menu__link m-menu__toggle" routerLink="/components/products">
                    <i class="m-menu__link-icon flaticon-network"></i>
                    <span class="m-menu__link-text">
						Товары
					</span>
                </a>
            </li>
            <!-- Payments -->
            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover">
                <a href="#" class="m-menu__link m-menu__toggle" routerLink="/components/payments">
                    <i class="m-menu__link-icon flaticon-diagram"></i>
                    <span class="m-menu__link-text">
						Платежи
					</span>
                </a>
            </li>
            <!-- Salary -->
            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover">
                <a href="#" class="m-menu__link m-menu__toggle" routerLink="/components/salary">
                    <i class="m-menu__link-icon flaticon-placeholder-1"></i>
                    <span class="m-menu__link-text">
						Зарплата
					</span>
                </a>
            </li>
            <!-- Wage -->
            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover">
                <a href="#" class="m-menu__link m-menu__toggle" routerLink="/components/wage">
                    <i class="m-menu__link-icon flaticon-signs-2"></i>
                    <span class="m-menu__link-text">
						Оклад
					</span>
                </a>
            </li>
            <!-- Cashier -->
            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover">
                <a href="#" class="m-menu__link m-menu__toggle" routerLink="/components/cashier">
                    <i class="m-menu__link-icon flaticon-signs-2"></i>
                    <span class="m-menu__link-text">
						Касса
					</span>
                </a>
            </li>
            <!-- Tasks -->
            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover">
                <a href="#" class="m-menu__link m-menu__toggle" routerLink="/components/tasks">
                    <i class="m-menu__link-icon flaticon-signs-2"></i>
                    <span class="m-menu__link-text">
						Задачи
					</span>
                </a>
            </li>
            <!-- Reports -->
            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover">
                <a href="#" class="m-menu__link m-menu__toggle" routerLink="/components/reports">
                    <i class="m-menu__link-icon flaticon-signs-2"></i>
                    <span class="m-menu__link-text">
						Отчеты
					</span>
                </a>
            </li>
            <!-- Stuff -->
            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover">
                <a href="#" class="m-menu__link m-menu__toggle" routerLink="/components/stuff">
                    <i class="m-menu__link-icon flaticon-signs-2"></i>
                    <span class="m-menu__link-text">
						Служебное
					</span>
                </a>
            </li>

            <!-- Snippets  - login pages -->
            <li class="m-menu__section">
                <h4 class="m-menu__section-text">
                    Snippets
                </h4>
                <i class="m-menu__section-icon flaticon-more-v3"></i>
            </li>
            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover">
                <a href="#" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-suitcase"></i>
                    <span class="m-menu__link-text">
						Custom Pages
					</span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu">
                    <span class="m-menu__arrow"></span>
                    <ul class="m-menu__subnav">
                        <li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active"
                            routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                            <a href="#" class="m-menu__link">
								<span class="m-menu__link-text">
									Custom Pages
								</span>
                            </a>
                        </li>
                        <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"
                            data-menu-submenu-toggle="hover">
                            <a href="#" class="m-menu__link m-menu__toggle">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
									User
								</span>
                                <i class="m-menu__ver-arrow la la-angle-right"></i>
                            </a>
                            <div class="m-menu__submenu">
                                <span class="m-menu__arrow"></span>
                                <ul class="m-menu__subnav">
                                    <li class="m-menu__item" routerLinkActive="m-menu__item--active"
                                        routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                                        <a routerLink="/snippets/pages/user/login-1" class="m-menu__link">
                                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                                <span></span>
                                            </i>
                                            <span class="m-menu__link-text">
												Login - 1
											</span>
                                        </a>
                                    </li>
                                    <li class="m-menu__item" routerLinkActive="m-menu__item--active"
                                        routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                                        <a routerLink="/snippets/pages/user/login-2" class="m-menu__link">
                                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                                <span></span>
                                            </i>
                                            <span class="m-menu__link-text">
												Login - 2
											</span>
                                        </a>
                                    </li>
                                    <li class="m-menu__item" routerLinkActive="m-menu__item--active"
                                        routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                                        <a routerLink="/snippets/pages/user/login-3" class="m-menu__link">
                                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                                <span></span>
                                            </i>
                                            <span class="m-menu__link-text">
												Login - 3
											</span>
                                        </a>
                                    </li>
                                    <li class="m-menu__item" routerLinkActive="m-menu__item--active"
                                        routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                                        <a routerLink="/snippets/pages/user/login-4" class="m-menu__link">
                                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                                <span></span>
                                            </i>
                                            <span class="m-menu__link-text">
												Login - 4
											</span>
                                        </a>
                                    </li>
                                    <li class="m-menu__item" routerLinkActive="m-menu__item--active"
                                        routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                                        <a routerLink="/snippets/pages/user/login-5" class="m-menu__link">
                                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                                <span></span>
                                            </i>
                                            <span class="m-menu__link-text">
												Login - 5
											</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <!-- END: Aside Menu -->
</div>
<!-- END: Left Aside -->
