<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">
        {{title}}
    </h5>
    <button type="button" class="close" (click)="onClose()">
          <span aria-hidden="true">
            ×
          </span>
    </button>
</div>

<div class="alert alert-danger" role="alert" *ngIf="error">
    {{error | json}}
</div>

<form class="m-form m-form--fit" (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="modal-body">
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Название</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="title" [(ngModel)]="data.title" placeholder="Введите название">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Входит в категорию</label>
            <div class="col-sm-9">
                <dx-drop-down-box
                        [value]="parentIdSubject$ | async"
                        [displayExpr]="'title'"
                        [valueExpr]="'id'"
                        [dataSource]="categories$ | async"
                >
                    <div *dxTemplate="let data of 'content'">
                        <dx-tree-view
                                [items]="categories$ | async"
                                [displayExpr]="'title'"
                                [parentIdExpr]="'parent_id'"
                                [dataStructure]="'plain'"
                                [searchEnabled]="true"
                                [searchMode]="contains"
                                [selectByClick]="true"
                                selectionMode="single"
                                (onItemSelectionChanged)="categoryTreeView_itemSelectionChanged($event)"
                        ></dx-tree-view>
                    </div>
                </dx-drop-down-box>
            </div>
        </div>
    </div>

    <app-dialog-footer
            [showDeleteButton]="!isCreateForm"
            [submitButtonText]="submitButtonText"
            [loading]="loading"
            (delete)="onDelete()"
            (close)="onClose()">
    </app-dialog-footer>
</form>
