<div class="m-login--enter-password">
    <ng-template #alertSignin></ng-template>
    <div class="form-group m-form__group">
        <input class="form-control m-input" type="password" placeholder="Введите пароль" name="password"
               [(ngModel)]="password">
    </div>

    <div class="row m-login__form-sub">
        <div class="col m--align-right">
            <a href="javascript:;" (click)="resetPasswordClick()" id="m_login_forget_password" class="m-link">
                Забыли пароль?
            </a>
        </div>
    </div>
    <div class="m-login__form-action">
        <button [disabled]="loading"
                [ngClass]="{'m-loader m-loader--right m-loader--light': loading}"
                (click)="signIn()"
                class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air"
        >
            Вход
        </button>
    </div>
</div>
