<div class="m-login__password">
    <div class="m-login__head">
        <h3 class="m-login__title">Пароль</h3>
        <div class="m-login__desc">Сеть:
            <a href="javascript:;" class="m-link" routerLink="../select-chain">{{chainName}}</a>
        </div>
    </div>
    <form (ngSubmit)="signIn()" class="m-login__form m-form" >
        <ng-template #alertSignin></ng-template>
        <div class="form-group">
            <input class="form-control m-input" type="password" placeholder="Введите пароль" name="password"
                   [(ngModel)]="password" #p="ngModel" required>

            <div *ngIf="p.invalid && (p.dirty || p.touched)"
                 class="alert alert-danger">

                <div *ngIf="p.errors.required">
                    Введите пароль
                </div>
            </div>
        </div>
        <div class="form-group text-right">
            <a href="javascript:;" routerLink="../forgot-password" class="m-link">Забыли пароль?</a>
        </div>
        <div class="m-login__form-action">
            <button [disabled]="loading"
                    [ngClass]="{'m-loader m-loader--right m-loader--light': loading}"
                    (click)="signIn()"
                    class="btn btn-primary"
            >
                Войти
            </button>
        </div>
    </form>
</div>