<div class="m-content">
    <div class="row">
        <div class="col-md-8 margin-auto">
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title title-div-width">
                            <button class="btn btn-primary back-to-allChains" type="button" (click)="goToChains()">
                                <i class="fa fa-chevron-left"></i> Все сети
                            </button>
                            <h3 class="m-portlet__head-text">
                                {{title}}
                            </h3>
                        </div>
                    </div>
                </div>

                <!--begin::Form-->
                <form class="m-form m-form--fit m-form--label-align-right" (ngSubmit)="onSubmit()" #f="ngForm">
                    <div class="m-portlet__body">
                        <!-- TITLE -->
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3 col-sm-12">
                                Название
                            </label>
                            <div class="col-lg-4 col-md-9 col-sm-12">
                                <input class="form-control" type="text" name="title" [(ngModel)]="chain.title" required>
                            </div>
                        </div>
                        <!-- Price Levels -->
                        <div class="m-form__group row">
                            <label class="col-form-label col-lg-3 col-sm-12">
                                Уровни цен:
                            </label>
                        </div>


                        <div
                                class="m-form__group row"
                                *ngFor="let priceLevel of chain.levels; let i = index"
                                ngModelGroup="levels"
                                #levels="ngModelGroup"
                        >
                            <label class="col-form-label col-lg-3 col-sm-12">
                                Уровень {{i+1}}
                            </label>
                            <div class="col-lg-6 col-md-9 col-sm-12 divInputPrcieLevel">
                                <input class="form-control" type="text" placeholder="Название"
                                       [name]="'price' + i"
                                       [(ngModel)]="priceLevel.level"
                                >
                            </div>
                            <div class="col-lg-2 col-md-2 price-level-actions">
                                <i class="la la-remove"
                                   (click)="removePriceLevel(i)"
                                   *ngIf="canRemovePriceLevels()"
                                ></i>
                                <i class="la la-plus"
                                   (click)="addPriceLevel(i)"
                                ></i>
                            </div>
                        </div>


                        <div class="m-form__group row">
                            <div class="col-lg-6 col-md-9 col-sm-12">
                                <label class="m-checkbox">
                                    <input type="checkbox">
                                    Вводить номер телефона по маске
                                    <span></span>
                                </label>
                            </div>
                        </div>
                        <div class="m-form__group row">
                            <div class="col-lg-6 col-md-9 col-sm-12">
                                <input
                                        class="form-control"
                                        id="m_inputmask-create-chain_3"
                                        type="text"
                                        name="phone_number"
                                        [(ngModel)]="chain.phone_number"
                                >
                            </div>
                        </div>


                    </div>
                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions">
                            <div class="">
                                <button class="btn btn-primary" type="submit" >
                                    {{submitButtonText}}
                                </button>
                                <button class="btn btn-danger deleteChainButton" type="button"
                                        *ngIf="canDeleteChain"
                                        (click)="onDelete()">
                                    Удалить
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>
            <!--end::Portlet-->
        </div>
    </div>
</div>