<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
                {{title}}
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                    ×
                </span>
            </button>
        </div>

        <div class="alert alert-danger" role="alert" *ngIf="error">
            {{error}}
        </div>

        <form class="m-form m-form--fit" (ngSubmit)="onSubmit()" #f="ngForm">
            <div class="modal-body">

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Название</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="text" name="title" [(ngModel)]="data.title" placeholder="Введите название" required>
                    </div>
                </div>
                <fieldset>
                    <legend>Уровни цен</legend>
                    <div class="form-group row"
                         *ngFor="let priceLevel of data.levels; let i = index"
                         ngModelGroup="levels"
                         #levels="ngModelGroup">

                        <label class="col-sm-3 col-form-label">Уровень {{i+1}}</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Название"
                                       [name]="'price' + i"
                                       [(ngModel)]="priceLevel.level"
                                >
                                <span class="input-group-btn">
                                        <button (click)="removePriceLevel(i)" *ngIf="canRemovePriceLevels()" class="btn btn-danger" type="button">
                                            <i class="la la-remove"></i>
                                        </button>
                                        <button class="btn btn-success" type="button" (click)="addPriceLevel(i)">
                                            <i class="la la-plus"></i>
                                        </button>
                                    </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Вводить номер телефона по маске</span>
                        </label>
                        <input class="form-control" type="text" name="phone_number" [(ngModel)]="data.phone_number">
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary">
                            {{submitButtonText}}
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            Закрыть
                        </button>
                    </div>
                    <div class="col-auto ml-auto">
                        <button type="button" class="btn btn-outline-danger" *ngIf="canDeleteChain" (click)="onDelete()">
                            <span class="m--hidden-mobile">Удалить</span>
                            <span class="m--visible-mobile">
										<i class="la la-trash"></i>
									</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>