<!-- BEGIN: Subheader -->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Обновить салон
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">
                            Имя салона
                        </span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">
                            Обновить салон
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-md-10 margin-auto">
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title title-div-width">
                            <button class="btn btn-primary back-to-allSalons" type="button" (click)="backToAllSalons()">
                                <i class="fa fa-chevron-left"></i> Назад
                            </button>
                            <h3 class="m-portlet__head-text">
                                Обновить Салон
                            </h3>
                        </div>
                    </div>
                </div>
                <!--begin::Form-->
                <form class="m-form m-form--fit m-form--label-align-right">
                    <ng-template #editSalonTimePicker></ng-template>
                    <div class="m-portlet__body">
                        <!-- Salon name -->
                        <div class="form-group m-form__group">
                            <label for="title-salon">
                                Название салона
                            </label>
                            <input type="text" class="form-control m-input" id="title-salon" placeholder="Ромашка" name="title" #titleNewSalon>
                        </div>
                        <!-- Google map -->
                        <div class="m-portlet m-portlet--tab">
                            <div class="m-portlet__body">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="m_edit-gmap_8_address" placeholder="Адрес..." #addressEditSalon>
                                    <input type="hidden" id="hidden_marker_latitude" #latitude>
                                    <input type="hidden" id="hidden_marker_longitude" #longitude>
                                    <input type="hidden" id="hidden_googleMap_street_number" #street_number>
                                    <input type="hidden" id="hidden_googleMap_street" #street>
                                    <input type="hidden" id="hidden_googleMap_city" #city>
                                    <input type="hidden" id="hidden_googleMap_country" #country>
                                    <input type="hidden" id="editingSalon-id" [value]="salonId">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" id="m_edit-gmap_8_btn">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                                <div id="m_edit-gmap_8" style="height:300px;"></div>
                            </div>
                        </div>
                        <!-- End Google map -->
                        <!-- Start work days -->
                        <h4 class="position_shedule">График работы салона</h4>
                        <div class="form-group m-form__group">
                            <div class="work_interval_groups" *ngFor="let showWeekday of showWeekdays; let i = index">
                                <label class="m-checkbox custom_label_position">
                                     {{showWeekday.weekDay}}
                                </label>
                                <div class="custom_div_width">

                                    <div>
                                        <label id="start_day">Начало</label>
                                        <label id="end_day">Конец</label>
                                    </div>

                                    <input type='text' class="form-control" readonly placeholder="Начало" style="width: 100px; display: inline" [id]="'m_timepicker_start_' + i"
                                        #start> -
                                    <input type='text' class="form-control m_timepicker_2" readonly placeholder="Конец" style="width: 100px; display: inline"
                                        [id]="'m_timepicker_end_' + i" #end>
                                    <label class="m-checkbox workingStatusCheckbox">
                                        <input name="chackboxDay" type="checkbox" #onchangeStatusWeekday (change)="onchangeStatusWorkday()" id="editNotWorkingDay"> Нерабочий день
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- End work days -->
                    </div>
                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions">
                            <button type="button" class="btn btn-primary" (click)="onSubmit()">
                                Обновить
                            </button>
                            <button class="btn btn-danger deleteSalon" type="button" (click)="onDeleteSalon()">
                                Удалить салон
                            </button>
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>
            <!--end::Portlet-->
        </div>
    </div>
</div>