:host(app-edit-salon) {
    overflow: hidden;
    margin-bottom: 60px;
    flex: 1;
}

.margin-auto {
    margin: auto;
}

.back-to-allSalons {
    margin-top: 18px;
}

.title-div-width {
    width: 100%;
}

.title-div-width h3 {
    width: 100%;
    text-align: center;
}

.position_shedule {
    margin-left: 40px;
}

.work_interval_groups {
    margin-bottom: 5px;
    padding: 10px;
    position: relative;
}

.custom_label_position {
    position: absolute;
    top: 10px;
}

.custom_div_width {
    width: 100%;
    margin-left: 60px;
}

.float-right {
    float: right;
}

.position_shedule {
    margin-left: 40px;
}

#start_day {
    margin-left: 22px;
}

#end_day {
    margin-left: 70px;
}

.workingStatusCheckbox {
    margin-left: 5px;
}
