<div class="m-content">
    <div class="m-portlet">
        <div class="m-portlet__head m--hidden-tablet-and-mobile">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        График работы
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="form-group row mb-4">
                <label class="col-sm-3 col-md-auto col-form-label">Выводить даты</label>
                <div class="col-sm-4 col-md-auto">
                    <div class="input-group date" id="datepicker_from">
                        <input type="text" class="form-control m-input" value="05/20/2017" readonly style="width: 120px"/>
                        <span class="input-group-addon">
                        <i class="la la-calendar-check-o"></i>
                      </span>
                    </div>
                </div>
                <div class="col-sm-1 col-md-auto col-form-label">—</div>
                <div class="col-sm-4 col-md-auto">
                    <div class="input-group date" id="datepicker_to">
                        <input type="text" class="form-control m-input" value="05/20/2017" readonly style="width: 120px"/>
                        <span class="input-group-addon">
                        <i class="la la-calendar-check-o"></i>
                      </span>
                    </div>
                </div>
            </div>
            <div class="table-grid">
                <div class="table-grid-sidebar">
                    <table class="table table-bordered table-sm table-schedule-sidebar">
                        <thead class="thead-default">
                        <tr>
                            <th>#</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="tr-default">
                            <td>Парикмахер</td>
                        </tr>
                        <tr>
                            <td data-toggle="modal" data-target="#user">Ирина Иванова</td>
                        </tr>
                        <tr>
                            <td data-toggle="modal" data-target="#user">Ирина Иванова</td>
                        </tr>
                        <tr>
                            <td data-toggle="modal" data-target="#user">Ирина Иванова</td>
                        </tr>
                        <tr>
                            <td data-toggle="modal" data-target="#user">Ирина Иванова</td>
                        </tr>
                        <tr>
                            <td data-toggle="modal" data-target="#user">Ирина Иванова</td>
                        </tr>
                        <tr>
                            <td data-toggle="modal" data-target="#user">Ирина Иванова</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-grid-container">
                    <table class="table table-bordered table-auto table-sm table-schedule-container">
                        <thead class="thead-default">
                        <tr>
                            <th>
                                <div>20.05.16</div>
                                <div>пн</div>
                            </th>
                            <th>
                                <div>20.05.16</div>
                                <div>вт</div>
                            </th>
                            <th>
                                <div>20.05.16</div>
                                <div>ср</div>
                            </th>
                            <th>
                                <div>20.05.16</div>
                                <div>чт</div>
                            </th>
                            <th>
                                <div>20.05.16</div>
                                <div>пт</div>
                            </th>
                            <th class="bg-cell">
                                <div>20.05.16</div>
                                <div>сб</div>
                            </th>
                            <th class="bg-cell">
                                <div>20.05.16</div>
                                <div>вс</div>
                            </th>
                            <th>
                                <div>20.05.16</div>
                                <div>пн</div>
                            </th>
                            <th>
                                <div>20.05.16</div>
                                <div>вт</div>
                            </th>
                            <th>
                                <div>20.05.16</div>
                                <div>ср</div>
                            </th>
                            <th>
                                <div>20.05.16</div>
                                <div>чт</div>
                            </th>
                            <th>
                                <div>20.05.16</div>
                                <div>пт</div>
                            </th>
                            <th class="bg-cell">
                                <div>20.05.16</div>
                                <div>сб</div>
                            </th>
                            <th class="bg-cell">
                                <div>20.05.16</div>
                                <div>вс</div>
                            </th>
                            <th>
                                <div>20.05.16</div>
                                <div>пн</div>
                            </th>
                            <th>
                                <div>20.05.16</div>
                                <div>вт</div>
                            </th>
                            <th>
                                <div>20.05.16</div>
                                <div>ср</div>
                            </th>
                            <th>
                                <div>20.05.16</div>
                                <div>чт</div>
                            </th>
                            <th>
                                <div>20.05.16</div>
                                <div>пт</div>
                            </th>
                            <th class="bg-cell">
                                <div>20.05.16</div>
                                <div>сб</div>
                            </th>
                            <th class="bg-cell">
                                <div>20.05.16</div>
                                <div>вс</div>
                            </th>
                            <th>
                                <div>20.05.16</div>
                                <div>пт</div>
                            </th>
                            <th>
                                <div>20.05.16</div>
                                <div>сб</div>
                            </th>
                            <th>
                                <div>20.05.16</div>
                                <div>вс</div>
                            </th>
                            <th>
                                <div>20.05.16</div>
                                <div>пт</div>
                            </th>
                            <th class="bg-cell">
                                <div>20.05.16</div>
                                <div>сб</div>
                            </th>
                            <th class="bg-cell">
                                <div>20.05.16</div>
                                <div>вс</div>
                            </th>
                            <th>
                                <div>20.05.16</div>
                                <div>пн</div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="tr-default pointer-events-none">
                            <td colspan="31"></td>
                        </tr>
                        <tr>
                            <td data-toggle="modal" data-target="#user"></td>
                            <td data-toggle="modal" data-target="#user">10:00-22:00</td>
                            <td data-toggle="modal" data-target="#user">
                                <div>13:00-15:00</div>
                                <div>17:00-19:00</div>
                            </td>
                            <td class="bg-yellow" data-toggle="modal" data-target="#user">10:00-22:00</td>
                            <td data-toggle="modal" data-target="#user">10:00-20:00</td>
                            <td data-toggle="modal" data-target="#user">11:30-22:00</td>
                            <td data-toggle="modal" data-target="#user">11:30-22:00</td>
                            <td data-toggle="modal" data-target="#user"></td>
                            <td data-toggle="modal" data-target="#user">10:00-22:00</td>
                            <td data-toggle="modal" data-target="#user">
                                <div>13:00-15:00</div>
                                <div>17:00-19:00</div>
                            </td>
                            <td data-toggle="modal" data-target="#user">10:00-22:00</td>
                            <td data-toggle="modal" data-target="#user">10:00-20:00</td>
                            <td data-toggle="modal" data-target="#user">11:30-22:00</td>
                            <td data-toggle="modal" data-target="#user">11:30-22:00</td>
                            <td data-toggle="modal" data-target="#user"></td>
                            <td data-toggle="modal" data-target="#user">10:00-22:00</td>
                            <td data-toggle="modal" data-target="#user">
                                <div>13:00-15:00</div>
                                <div>17:00-19:00</div>
                            </td>
                            <td data-toggle="modal" data-target="#user">10:00-22:00</td>
                            <td data-toggle="modal" data-target="#user">10:00-20:00</td>
                            <td data-toggle="modal" data-target="#user">11:30-22:00</td>
                            <td data-toggle="modal" data-target="#user">11:30-22:00</td>
                            <td data-toggle="modal" data-target="#user"></td>
                            <td data-toggle="modal" data-target="#user">10:00-22:00</td>
                            <td data-toggle="modal" data-target="#user">
                                <div>13:00-15:00</div>
                                <div>17:00-19:00</div>
                            </td>
                            <td data-toggle="modal" data-target="#user">10:00-22:00</td>
                            <td data-toggle="modal" data-target="#user">10:00-20:00</td>
                            <td data-toggle="modal" data-target="#user">11:30-22:00</td>
                            <td data-toggle="modal" data-target="#user">11:30-22:00</td>
                        </tr>
                        <tr>
                            <td data-toggle="modal" data-target="#user">
                                <div>13:00-15:00</div>
                                <div>17:00-19:00</div>
                                <div>13:00-15:00</div>
                                <div>17:00-19:00</div>
                            </td>
                            <td data-toggle="modal" data-target="#user">10:00-22:00</td>
                            <td data-toggle="modal" data-target="#user">
                                <div>13:00-15:00</div>
                                <div>17:00-19:00</div>
                            </td>
                            <td data-toggle="modal" data-target="#user">10:00-22:00</td>
                            <td data-toggle="modal" data-target="#user">10:00-20:00</td>
                            <td data-toggle="modal" data-target="#user">11:30-22:00</td>
                            <td data-toggle="modal" data-target="#user">11:30-22:00</td>
                            <td data-toggle="modal" data-target="#user"></td>
                            <td data-toggle="modal" data-target="#user">10:00-22:00</td>
                            <td data-toggle="modal" data-target="#user">
                                <div>13:00-15:00</div>
                                <div>17:00-19:00</div>
                            </td>
                            <td data-toggle="modal" data-target="#user">10:00-22:00</td>
                            <td data-toggle="modal" data-target="#user">10:00-20:00</td>
                            <td class="bg-red" data-toggle="modal" data-target="#user">11:30-22:00</td>
                            <td data-toggle="modal" data-target="#user">11:30-22:00</td>
                            <td data-toggle="modal" data-target="#user"></td>
                            <td data-toggle="modal" data-target="#user">10:00-22:00</td>
                            <td data-toggle="modal" data-target="#user">
                                <div>13:00-15:00</div>
                                <div>17:00-19:00</div>
                            </td>
                            <td data-toggle="modal" data-target="#user">10:00-22:00</td>
                            <td data-toggle="modal" data-target="#user">10:00-20:00</td>
                            <td data-toggle="modal" data-target="#user">11:30-22:00</td>
                            <td data-toggle="modal" data-target="#user">11:30-22:00</td>
                            <td data-toggle="modal" data-target="#user"></td>
                            <td data-toggle="modal" data-target="#user">10:00-22:00</td>
                            <td data-toggle="modal" data-target="#user">
                                <div>13:00-15:00</div>
                                <div>17:00-19:00</div>
                            </td>
                            <td data-toggle="modal" data-target="#user">10:00-22:00</td>
                            <td data-toggle="modal" data-target="#user">10:00-20:00</td>
                            <td data-toggle="modal" data-target="#user">11:30-22:00</td>
                            <td data-toggle="modal" data-target="#user">11:30-22:00</td>
                        </tr>
                        <tr>
                            <td data-toggle="modal" data-target="#user"></td>
                            <td data-toggle="modal" data-target="#user">10:00-22:00</td>
                            <td data-toggle="modal" data-target="#user">
                                <div>13:00-15:00</div>
                                <div>17:00-19:00</div>
                            </td>
                            <td data-toggle="modal" data-target="#user">10:00-22:00</td>
                            <td data-toggle="modal" data-target="#user">10:00-20:00</td>
                            <td data-toggle="modal" data-target="#user">11:30-22:00</td>
                            <td data-toggle="modal" data-target="#user">11:30-22:00</td>
                            <td data-toggle="modal" data-target="#user"></td>
                            <td data-toggle="modal" data-target="#user">10:00-22:00</td>
                            <td data-toggle="modal" data-target="#user">
                                <div>13:00-15:00</div>
                                <div>17:00-19:00</div>
                            </td>
                            <td data-toggle="modal" data-target="#user">10:00-22:00</td>
                            <td data-toggle="modal" data-target="#user">10:00-20:00</td>
                            <td data-toggle="modal" data-target="#user">11:30-22:00</td>
                            <td data-toggle="modal" data-target="#user">11:30-22:00</td>
                            <td data-toggle="modal" data-target="#user"></td>
                            <td data-toggle="modal" data-target="#user">10:00-22:00</td>
                            <td data-toggle="modal" data-target="#user">
                                <div>13:00-15:00</div>
                                <div>17:00-19:00</div>
                            </td>
                            <td data-toggle="modal" data-target="#user">10:00-22:00</td>
                            <td data-toggle="modal" data-target="#user">10:00-20:00</td>
                            <td data-toggle="modal" data-target="#user">11:30-22:00</td>
                            <td data-toggle="modal" data-target="#user">11:30-22:00</td>
                            <td data-toggle="modal" data-target="#user"></td>
                            <td data-toggle="modal" data-target="#user">10:00-22:00</td>
                            <td data-toggle="modal" data-target="#user">
                                <div>13:00-15:00</div>
                                <div>17:00-19:00</div>
                            </td>
                            <td data-toggle="modal" data-target="#user">10:00-22:00</td>
                            <td data-toggle="modal" data-target="#user">10:00-20:00</td>
                            <td data-toggle="modal" data-target="#user">11:30-22:00</td>
                            <td data-toggle="modal" data-target="#user">11:30-22:00</td>
                        </tr>
                        <tr>
                            <td data-toggle="modal" data-target="#user"></td>
                            <td data-toggle="modal" data-target="#user">10:00-22:00</td>
                            <td data-toggle="modal" data-target="#user">
                                <div>13:00-15:00</div>
                                <div>17:00-19:00</div>
                            </td>
                            <td data-toggle="modal" data-target="#user">10:00-22:00</td>
                            <td data-toggle="modal" data-target="#user">10:00-20:00</td>
                            <td data-toggle="modal" data-target="#user">11:30-22:00</td>
                            <td data-toggle="modal" data-target="#user">11:30-22:00</td>
                            <td data-toggle="modal" data-target="#user"></td>
                            <td data-toggle="modal" data-target="#user">10:00-22:00</td>
                            <td data-toggle="modal" data-target="#user">
                                <div>13:00-15:00</div>
                                <div>17:00-19:00</div>
                            </td>
                            <td data-toggle="modal" data-target="#user">10:00-22:00</td>
                            <td data-toggle="modal" data-target="#user">10:00-20:00</td>
                            <td data-toggle="modal" data-target="#user">11:30-22:00</td>
                            <td data-toggle="modal" data-target="#user">11:30-22:00</td>
                            <td data-toggle="modal" data-target="#user"></td>
                            <td data-toggle="modal" data-target="#user">10:00-22:00</td>
                            <td data-toggle="modal" data-target="#user">
                                <div>13:00-15:00</div>
                                <div>17:00-19:00</div>
                            </td>
                            <td data-toggle="modal" data-target="#user">10:00-22:00</td>
                            <td data-toggle="modal" data-target="#user">10:00-20:00</td>
                            <td data-toggle="modal" data-target="#user">11:30-22:00</td>
                            <td data-toggle="modal" data-target="#user">11:30-22:00</td>
                            <td data-toggle="modal" data-target="#user"></td>
                            <td data-toggle="modal" data-target="#user">10:00-22:00</td>
                            <td data-toggle="modal" data-target="#user">
                                <div>13:00-15:00</div>
                                <div>17:00-19:00</div>
                            </td>
                            <td data-toggle="modal" data-target="#user">10:00-22:00</td>
                            <td data-toggle="modal" data-target="#user">10:00-20:00</td>
                            <td data-toggle="modal" data-target="#user">11:30-22:00</td>
                            <td data-toggle="modal" data-target="#user">11:30-22:00</td>
                        </tr>
                        <tr>
                            <td data-toggle="modal" data-target="#user"></td>
                            <td data-toggle="modal" data-target="#user">10:00-22:00</td>
                            <td data-toggle="modal" data-target="#user">
                                <div>13:00-15:00</div>
                                <div>17:00-19:00</div>
                            </td>
                            <td data-toggle="modal" data-target="#user">10:00-22:00</td>
                            <td data-toggle="modal" data-target="#user">10:00-20:00</td>
                            <td data-toggle="modal" data-target="#user">11:30-22:00</td>
                            <td data-toggle="modal" data-target="#user">11:30-22:00</td>
                            <td data-toggle="modal" data-target="#user"></td>
                            <td data-toggle="modal" data-target="#user">10:00-22:00</td>
                            <td data-toggle="modal" data-target="#user">
                                <div>13:00-15:00</div>
                                <div>17:00-19:00</div>
                            </td>
                            <td data-toggle="modal" data-target="#user">10:00-22:00</td>
                            <td data-toggle="modal" data-target="#user">10:00-20:00</td>
                            <td data-toggle="modal" data-target="#user">11:30-22:00</td>
                            <td data-toggle="modal" data-target="#user">11:30-22:00</td>
                            <td data-toggle="modal" data-target="#user"></td>
                            <td data-toggle="modal" data-target="#user">10:00-22:00</td>
                            <td data-toggle="modal" data-target="#user">
                                <div>13:00-15:00</div>
                                <div>17:00-19:00</div>
                            </td>
                            <td data-toggle="modal" data-target="#user">10:00-22:00</td>
                            <td data-toggle="modal" data-target="#user">10:00-20:00</td>
                            <td data-toggle="modal" data-target="#user">11:30-22:00</td>
                            <td data-toggle="modal" data-target="#user">11:30-22:00</td>
                            <td data-toggle="modal" data-target="#user"></td>
                            <td data-toggle="modal" data-target="#user">10:00-22:00</td>
                            <td data-toggle="modal" data-target="#user">
                                <div>13:00-15:00</div>
                                <div>17:00-19:00</div>
                            </td>
                            <td data-toggle="modal" data-target="#user">10:00-22:00</td>
                            <td data-toggle="modal" data-target="#user">10:00-20:00</td>
                            <td data-toggle="modal" data-target="#user">11:30-22:00</td>
                            <td data-toggle="modal" data-target="#user">11:30-22:00</td>
                        </tr>
                        <tr>
                            <td data-toggle="modal" data-target="#user"></td>
                            <td data-toggle="modal" data-target="#user">10:00-22:00</td>
                            <td data-toggle="modal" data-target="#user">
                                <div>13:00-15:00</div>
                                <div>17:00-19:00</div>
                            </td>
                            <td data-toggle="modal" data-target="#user">10:00-22:00</td>
                            <td data-toggle="modal" data-target="#user">10:00-20:00</td>
                            <td data-toggle="modal" data-target="#user">11:30-22:00</td>
                            <td data-toggle="modal" data-target="#user">11:30-22:00</td>
                            <td data-toggle="modal" data-target="#user"></td>
                            <td data-toggle="modal" data-target="#user">10:00-22:00</td>
                            <td data-toggle="modal" data-target="#user">
                                <div>13:00-15:00</div>
                                <div>17:00-19:00</div>
                            </td>
                            <td data-toggle="modal" data-target="#user">10:00-22:00</td>
                            <td data-toggle="modal" data-target="#user">10:00-20:00</td>
                            <td data-toggle="modal" data-target="#user">11:30-22:00</td>
                            <td data-toggle="modal" data-target="#user">11:30-22:00</td>
                            <td data-toggle="modal" data-target="#user"></td>
                            <td data-toggle="modal" data-target="#user">10:00-22:00</td>
                            <td data-toggle="modal" data-target="#user">
                                <div>13:00-15:00</div>
                                <div>17:00-19:00</div>
                            </td>
                            <td data-toggle="modal" data-target="#user">10:00-22:00</td>
                            <td data-toggle="modal" data-target="#user">10:00-20:00</td>
                            <td data-toggle="modal" data-target="#user">11:30-22:00</td>
                            <td data-toggle="modal" data-target="#user">11:30-22:00</td>
                            <td data-toggle="modal" data-target="#user"></td>
                            <td data-toggle="modal" data-target="#user">10:00-22:00</td>
                            <td data-toggle="modal" data-target="#user">
                                <div>13:00-15:00</div>
                                <div>17:00-19:00</div>
                            </td>
                            <td data-toggle="modal" data-target="#user">10:00-22:00</td>
                            <td data-toggle="modal" data-target="#user">10:00-20:00</td>
                            <td data-toggle="modal" data-target="#user">11:30-22:00</td>
                            <td data-toggle="modal" data-target="#user">11:30-22:00</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>