:host(app-employee) {
    overflow: hidden;
    margin-bottom: 60px;
    flex: 1;
}

.margin_auto {
    margin: auto;
}

.custom_datepicker_style {
    margin-bottom: 10px;
}

.custom_form_styles input {
    width: auto;
    margin-bottom: 10px;
    display: inline;
}

.button_float_right {
    float: right;
}

.employee_fired_div {
    margin-left: 0;
}

.custom_m-radio-list label {
  display: inline;
    margin-right: 10px;
}

.custom_div_width {
    width: 100%;
    margin-left: 60px;
}

.custom_dash {
    margin: 0 5px 0 5px;
}

.custom_margin {
    margin-left: 0;
}

.custom_datePickerName {
    margin-right: 15px;
}

.custom_label_position {
    position: absolute;
    top: 10px;
}

.work_interval_groups {
    margin-bottom: 20px;
    padding: 10px;
    position: relative;
}

.child_div_width {
    margin-bottom: 10px;
}

.fa.fa-close {
    cursor: pointer;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

.add_category_div select:nth-child(2)  {
        margin-bottom: 3px;
}

.add_category_div button  {
    margin-top: 3px;
}