<div class="m-content">
    <div class="row">
        <div class="col-xl-8">
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text m--hidden-tablet-and-mobile">
                                Салоны
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalDialog" (click)="openCreateSalonForm()">
                            Добавить
                        </button>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="m-widget5">
                        <div class="m-widget5__item">
                            <dx-select-box
                                    class="form-control m-bootstrap-select m_selectpicker"
                                    [value]="selectedChain$ | async"
                                    [dataSource]="chainsFilterDS$ | async"
                                    valueExpr="id"
                                    displayExpr="title"
                                    placeholder="Выберите сеть для фильтрации..."
                                    (onValueChanged)="onChainFilterChanged($event.value)"
                            >
                            </dx-select-box>
                        </div>

                        <app-salon-row
                                *ngFor="let info of salonsInfo$ | async"
                                [salon]="info.salon"
                                [chainTitle]="info.chainTitle"
                                (editSalonRequested)="openEditSalonForm($event)"
                        >
                        </app-salon-row>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>