<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Услуги
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a class="m-nav__link">
						<span class="m-nav__link-text">
							Услуги
						</span>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-md-6 margin-auto">
            <!--begin::Portlet-->
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <!-- Search here -->
                        <div class="m-portlet__head-title">
                            <div class="m-input-icon m-input-icon--left searchDiv">
                                <input class="form-control m-input m-input--solid" id="m_form_search"
                                       placeholder="Search..." type="text">
                                <span class="m-input-icon__icon m-input-icon__icon--left">
										<span>
											<i class="la la-search"></i>
										</span>
									</span>
                            </div>
                            <!-- Model end -->
                        </div>
                        <!-- Search end -->
                        <!-- Modal here -->
                        <button class="btn btn-primary modalButton" data-target="#m_modal_5" data-toggle="modal"
                                type="button">
                            Добавить
                        </button>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <!--begin::Section-->
                    <div class="m-section">

                        <div class="m-section__sub">Категории услуг - Групи услуг - Услуги</div>
                        <div class="m-section__content">
                            <p-accordion>
                                <p-accordionTab
                                        header="{{serviceCategory.title}}"
                                        [selected]="false"
                                        *ngFor="let serviceCategory of serviceCategories"
                                >
                                    <p-accordion>
                                        <p-accordionTab
                                                header="{{group.title}}"
                                                [selected]="false"
                                                *ngFor="let group of serviceCategory.groups"
                                        >
                                            <ul>
                                               <li *ngFor="let service of group.services">
                                                   <div *ngIf="!serviceEditSwitcher; else editService">
                                                       {{service.title}}
                                                       <a class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill editService" title="Изменить" (click)="onEditService(service)"><i class="la la-edit"></i></a>
                                                       <a class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill deleteService" title="Удалить" (click)="onDeleteService(service.id)"><i class="la la-trash"></i></a>
                                                   </div>
                                                   <ng-template #editService>
                                                       <input type="text" [(ngModel)]="serviceEditTitle">
                                                       <a class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="Сохранить" (click)="onSaveEditService(service)"><i class="la la-save"></i></a>
                                                   </ng-template>
                                               </li>
                                            </ul>

                                            <div class="edit_delete_serviceDiv">
                                                <div *ngIf="!showEditInputGroup; else showEditDeleteItemsGroup">
                                                    <a  class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill editService" title="Изменить групу услуг" (click)="editGroupCategory(group)"><i class="la la-edit"></i></a>
                                                    <a  class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill deleteService" title="Удлаят групууслуг"><i class="la la-trash" (click)="deleteGroupCategory(group)"></i></a>
                                                </div>
                                                <ng-template class="save_edit_serviceDiv" #showEditDeleteItemsGroup>
                                                    <input class="form-control m-input serviceInput" id="example-text-input2" type="text" [(ngModel)]='selectedGroupServiceTitle'>
                                                    <a  class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill editService" title="Сохранять изменения" (click)="saveEditGroupCategory(group)"><i class="la la-save"></i></a>
                                                </ng-template>
                                            </div>

                                        </p-accordionTab>
                                    </p-accordion>
                                    <div class="edit_delete_serviceDiv">
                                            <div *ngIf="!showEditInputCategory; else showEditDeleteItemsCategory">
                                                    <a  class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill editService" title="Изменить категорию услуг" (click)="editServiceCategory(serviceCategory)"><i class="la la-edit"></i></a>
                                                    <a  class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill deleteService" title="Удлаят категорию услуг"><i class="la la-trash" (click)="deleteServiceCategory(serviceCategory)"></i></a>
                                            </div>
                                        <ng-template class="save_edit_serviceDiv" #showEditDeleteItemsCategory>
                                                <input class="form-control m-input serviceInput" id="example-text-input" type="text" [(ngModel)]='selectedCategoryServiceTitle'>
                                                <a  class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill editService" title="Сохранять изменения" (click)="saveEditServiceCategory(serviceCategory)"><i class="la la-save"></i></a>
                                        </ng-template>
                                    </div>
                                </p-accordionTab>
                            </p-accordion>
                        </div>
                    </div>
                    <!--end::Section-->
                </div>
            </div>
            <!--end::Portlet-->

            <!--begin::Modal-->
            <div class="modal fade" id="m_modal_5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                                Добавить услугу
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">
							&times;
						</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group m-form__group custom_form_styles">
                                <div class="m-radio-list custom_m-radio-list">
                                    <label class="m-radio first-service-radioButton">
                                        <input checked="" name="payment_methid_1" type="radio"
                                               (change)="serviceSwitcher('categoryService')">
                                        Категория услуг
                                        <span></span>
                                    </label>
                                    <label class="m-radio second-service-radioButton">
                                        <input name="payment_methid_1" type="radio"
                                               (change)="serviceSwitcher('groupService')">
                                        Группа услуг
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <!-- service category -->
                            <div *ngIf="serviceSwitch == 'categoryService'">
                                <form (ngSubmit)="f.form.valid && signupFormCategoryService()" #f="ngForm">
                                    <div class="form-group">
                                        <label for="categoryServiceName" class="form-control-label">
                                            Добавить категорию услуг:
                                        </label>
                                        <input
                                                type="text"
                                                class="form-control"
                                                id="categoryServiceName"
                                                name="name"
                                                [(ngModel)]="categoryServiceName"
                                                required
                                        >
                                    </div>
                                    <button
                                            class="btn btn-primary"
                                            id="formServiceService-button"
                                    >
                                        Добавить
                                    </button>
                                    <button
                                            class="btn btn-secondary"
                                            data-dismiss="modal"
                                            type="button"
                                    >
                                        Выход
                                    </button>
                                </form>
                            </div>
                            <!-- group service -->
                            <div *ngIf="serviceSwitch == 'groupService'">
                                <form (ngSubmit)="f.form.valid && signupFormGroupService(groupServicename.value, selectCategory.value)"
                                      #f="ngForm">
                                    <ng-template #groupService></ng-template>
                                    <div class="form-group">
                                        <label for="categoryServiceName" class="form-control-label">
                                            Добавить группу услуг:
                                        </label>
                                        <div class="form-group m-form__group">
                                            <select class="form-control m-input" id="exampleSelect1" #selectCategory>
                                                <option disabled selected>
                                                    Выберите категорию услуги
                                                </option>
                                                <option *ngFor="let serviceCategory of serviceCategories; let i = index"
                                                        [value]="serviceCategory.id" [id]="i">
                                                    {{serviceCategory.title}}
                                                </option>
                                            </select>
                                        </div>
                                        <input
                                                type="text"
                                                class="form-control"
                                                id="groupServiceName"
                                                #groupServicename
                                        >
                                    </div>
                                    <button class="btn btn-primary" id="formGroupService-button">
                                        Добавить
                                    </button>
                                    <button class="btn btn-secondary" data-dismiss="modal" type="button">
                                        Выход
                                    </button>
                                </form>
                            </div>
                        </div>
                        <!--<div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                Close
                            </button>
                            <button type="button" class="btn btn-primary">
                                Добавить
                            </button>
                        </div>-->
                    </div>
                </div>
            </div>
            <!--end::Modal-->
        </div>
    </div>
</div>
