:host(app-edit-chain) {
    overflow: hidden;
    margin-bottom: 60px;
    flex: 1;
}
.margin-auto {
    margin: auto;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

.back-to-allChains {
    margin-top: 18px;
}

.title-div-width {
    width: 100%;
}

.title-div-width h3 {
    width: 100%;
    text-align: center;
}

.divInputPrcieLevel {
    position: relative;
}

.deleteChain {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.add-chain-priceLevel-button {
    margin: auto;
}
