:host(app-all-salons) {
    overflow: hidden;
    margin-bottom: 60px;
    flex: 1;
}

.margin-auto {
    margin: auto;
}

.add-salon-batton {
    margin-top: 17px;
    float: right;
}

.edit-salon-button {
    padding: 5px 5px;
    background-color: #716aca;
    border-color: #716aca;
}

.edit-salon-button:hover {
    background-color: #564ec0;
    border-color: #564ec0;
}

.add_border_salon {
    border-bottom: .07rem dashed #ebedf2 !important;
}