<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon">
            <label class="m-checkbox m-checkbox--brand">
                <input type="checkbox" [(ngModel)]="daySchedule.working_status" >
                <span></span>
            </label>
        </span>
        <span class="input-group-addon" style="width: 42px">{{daySchedule.num_of_day | dayOfWeek}}</span>
        <dx-date-box
                class="form-control"
                type="time"
                displayFormat="HH:mm"
                [value]="daySchedule.start | timeToJsDate"
                (onValueChanged)="onStartChanged($event)"
        ></dx-date-box>
        <span class="input-group-addon">-</span>
        <dx-date-box
                class="form-control"
                type="time"
                displayFormat="HH:mm"
                [value]="daySchedule.end | timeToJsDate"
                (onValueChanged)="onEndChanged($event)"
        ></dx-date-box>
    </div>
</div>