body,
.btn,
.m-tooltip {
  font-family: 'Roboto';
}

/* modal */
.modal .modal-content .modal-header .close {
  line-height: 1;
}
.modal-footer {
  display: block;
}

.m--font-white {
  color: white;
}

/* input group */
.input-group-addon .m-switch label {
  display: block;
  margin: 0;
}
.input-group .bootstrap-select {
  max-width: calc(100% - 77px);
}
.input-group .bootstrap-select.btn-group>.dropdown-toggle {
  border-top-left-radius: 0!important;
  border-bottom-left-radius: 0!important;
}
.input-group .filter-option {
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

/* auth */
.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__head {
  margin: 0;
}
.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form {
  margin: 2rem 0;
}

/* services */
.services .item-head {
  padding-left: 15px;
  margin-bottom: -1px;
  border: 1px solid #ebedf2;
  cursor: move;
}
.services .btn {
  border-width: 0 0 0 1px;
  border-radius: 0;
  cursor: pointer;
}
.services .btn + .btn {
  margin: 0;
}
.services .btn-drag {
  border-width: 0 1px 0 0;
  cursor: move;
}
.services .collapsing,
.services .collapse {
  padding-left: 10px;
}
.services a[data-toggle] {
  display: inline-flex;
  text-decoration: none;
  -webkit-align-items: center;
  align-items: center;
}
.services a[data-toggle] .la {
  position: relative;
  top: -2px;
  margin-right: 5px;
}
.services a[data-toggle]:not(.collapsed) .la {
  top: 1px;
  transform: rotate(180deg);
}

/* info */
.info {
  display: inline-block;
  position: relative;
  top: -1px;
  font-size: 0;
  vertical-align: middle;
}
.info > .la {
  font-size: 24px;
}

/* table-auto */
.table-auto {
  width: auto;
}

/* collapse */
.collapse-item > a {
  text-decoration: none;
}
.collapse-item > a:hover span {
  text-decoration: underline;
}
.collapse-item > a .la {
  font-size: 14px;
}
.collapse-item > a:not(.collapsed) .la {
  transform: rotate(180deg);
}

/* checkbox */
.m-checkbox {
  min-width: 18px;
  min-height: 20px;
}

/* note */
.note {
  display: flex;
}
.note .la {
  margin-right: .5rem;
}

/* responsive */
@media (max-width: 992px) {
  .m-body .m-wrapper {
    min-height: calc(100vh - 60px);
  }
  .m-body .m-content {
    padding: 10px;
  }
  .m-portlet .m-portlet__head {
    height: 4.1rem;
    padding: 0 10px
  }
  .m-portlet .m-portlet__body {
    padding: 10px;
  }
}
@media (min-width: 993px) {
  .m-header {
    right: auto;
    width: 255px;
  }
  .m-aside-left--minimize .m-header {
    width: 80px;
  }
  .m-aside-left {
    padding-top: 70px;
  }
  .m-header--fixed .m-body {
    padding-top: 0!important;
  }
}
@media (max-width: 575px) {
  .m-widget5__item .img-thumbnail {
    margin-bottom: 20px;
  }
  .modal .modal-content .modal-header,
  .modal .modal-content .modal-body,
  .modal .modal-content .modal-footer {
    padding: 10px;
  }
}
