:host(app-service) {
    overflow: hidden;
    margin-bottom: 60px;
    flex: 1;
}

.margin_auto {
    margin: auto;
}

.vertical-align {
    vertical-align: middle;
}

.button_float_right {
    float: right;
}

.prices_custom_form input {
    width: 100px;
    display: inline;
}

.prices_custom_form .custom_dash {
    margin: 0 5px 0 5px;
}

.prices_custom_form .price_name {
    margin-right: 15px;
}

.custom_datePickerName {
    margin-right: 42px;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}













/* TURN OFF INPUT TYPE NUMBER */
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    cursor:pointer;
    display:block;
    width:8px;
    color: #333;
    text-align:center;
    position:relative;
}

input[type=number]::-webkit-inner-spin-button:before,
input[type=number]::-webkit-inner-spin-button:after {
    content: "^";
    position:absolute;
    right: 0;
    font-family:monospace;

}

input[type=number]::-webkit-inner-spin-button:before {
    top:0px;
}

input[type=number]::-webkit-inner-spin-button:after {
    bottom:0px;
    -webkit-transform: rotate(180deg);
}
/* END TURN OFF INPUT TYPE NUMBER */